<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="9bd581d5-238c-4f4d-821f-617a5e6515f2" Version="1.0.0.0" Publisher="CN=mazimi" />
  <Properties>
    <DisplayName>put8</DisplayName>
    <PublisherDisplayName>mazimi</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="put8" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="put8" ForegroundText="light" BackgroundColor="#70b14e">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="#70b14e" />
      </VisualElements>
      <ApplicationContentUriRules>
        <Rule Match="https://api.put.io/" Type="include" />
      </ApplicationContentUriRules>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>